/* Write your code here */
<<<<<<< Updated upstream
ul {
	padding: 0;
}

ul li {
	list-style-type: none;
}

img {
	cursor: pointer;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
}

.overlay.show {
	display: flex;
}


@media only screen and (min-width: 641px) {

}

@media only screen and (min-width: 1025px) {

=======
.content {
   display: flex;
}

aside {
    width: 30%;
    padding: 1em;
}

aside form {
	border: 0.3em solid pink;
	text-align: center;
	padding-bottom: 1em;
>>>>>>> Stashed changes
}